body {        background-color: #1F2937;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0px;
        }


.head {display: flex;
        flex-direction: column;  
        flex: 1;      
}

.header {display: flex;
        color: #F9FAF8;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0px;
       }


.header_logo {display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
}

.header_links, ul {display: flex;
    list-style-type: none;
    color: #e5e7ebc0;
    font-size: 18px;
  
}

li {margin: 0px 10px;
    display: flex;
    align-self: center;
}

.section_2 {display: flex;
            justify-content: center;
            flex: 7;
            padding: 40px 0px;
        }

.col1 {display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

.TWIA {color: #F9FAF8;
        font-size: 48px;
        font-weight: 800;
        width: 500px;
        }

.atext {color: #e5e7ebc0;
    font-size: 18px;
    display: flex;
    flex-wrap: wrap;
    width: 450px;
}

.but1 {background-color: #3882F6 ;
        color: #e5e7ebc0;
        font-size: 18px;
        border-radius: 8px;
        border: none;
        padding: 6px 25px;
}

.col2 {display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
}

.section_3 {display: flex;
            flex-direction: column;
            flex: 7;
            background-color: white;
            padding: 20px 0px;
            margin: 0px;
            width: 100vw;
}

.row1 {text-align: center;
        font-size: 36px;
        font-weight: 700;
        padding-top: 20px;
        padding-bottom: 50px;
}

.row2 {display: flex;
        justify-content: center;
        padding-bottom: 40px;
    }

.s3col {display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 128px;
        padding: 0px 20px;
        text-align: center;    
        font-size: 18px;
        color: #97989a;
    }

.s3subtext {padding-top: 12px;}

.s3col img {border: 3px solid #3882F6;
            border-radius: 8px;            
}

.section_4 {background-color: #e5e7ebc0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex: 7;  
            padding: 40px 0px;
}


            
.s4row1 {color: #1F2937;
        font-size: 36px;
        font-style: italic;
        font-weight: 200;
        width: 640px;
        display: flex;
        align-self: center;        
}

.s4row2 {font-size: 18px;
        color: #1F2937;
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        margin-right: 420px;
    }

.section_5 {background-color: white;
            display: flex;
            justify-content: center;
            padding: 116px 0px;
            flex: 7;
}

.box {display: flex;
    justify-content: space-around;
    height: 175px;
    width: 1000px;
    background-color: #3882F6;
    border-radius: 8px;
    align-items: center;
}

.cta {color: white;
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 10px;
 }

 .ctatext {color: #e5e7ebc0;
            font-size: 18px;
 }

 .but2 {background-color: #3882F6;
        color: white;
        border: 2px solid white;
        border-radius: 8px;
        padding: 6px 25px;
        font-size: 18px;

}

.footer {color: #F9FAF8;
        justify-content: center; 
        display: flex;
        margin-top: auto;
        padding: 20px;
        
}
